.app {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 32px;
  color: #1e90ff;
}
